<div ng-class="{show: show}" id="crop_modal">
	<perfect-scrollbar class="scroll" wheel-propagation="true" wheel-speed="50">
		<div class="modal-body">
			<form action="" method="get" accept-charset="utf-8">
				<div id='cropContainer'>
			      <div class="cropper">
			         <div class="preview-container">
			         	<img src="" id="crop_img" alt="" />
		        		<canvas id="image_canvas"></canvas>
			         </div>
			      </div>
			   </div>
		   </form>
		</div>
		<div class="buttons">
			<button ng-click="close()">Cancel</button>
			<button class="apply" ng-click="onSend()">Apply</button>
		</div>
	</perfect-scrollbar>
</div>
