<section ng-controller="FollowController" >
	<div id="follow_tab">
		<span class="icon star">Favorites</span>
		<sub class="icon favorite_nav_left" ng-if="step > 0" ng-click="newStep(step-1)"></sub>
		<div class="list">
			<div class="sub">
				<ul ng-style="{left: '-'+step*stepWidth+'px'}">
					<li 
						ng-click="openUser(userItem.user)" 
						ng-repeat="userItem in workspace.friends">
						<img 
							ng-src="{{userItem.user.avatar}}" 
							alt="" 
							err-src="/images/unknown-person.png" />
					</li>
				</ul>	
			</div>
		</div>
		<sup class="icon favorite_nav_right" ng-click="newStep(step+1)"  ng-if="step+max <= workspace.friends.length"></sup>		
		<a ng-click="openTerms()" class="tcpp">Terms and Conditions and Privacy Policy</a>
	</div>
</section>