<h4 class="imprin">Sign in with</h4>
<h5><img src="../images/improva.png"> improva</h5>
<b ng-click="changeState(states.SIGNIN)"></b>
<div class="sign-in imprin">
  <ng-form 
    id="login_form" 
    name="LoginForm" 
    novalidate 
    class="css-form myForm" >
    <p>
      <input 
        type="email" 
        id="login_i" 
        class="form-input"
        ng-model="login.email"
        name="Email"
        required 
        ng-minlength="6"
        placeholder="Email"
        ui-keypress="{13:'onKeyPress($event)'}" />
      <br />
      <span 
      	class="errorss" 
      	ng-show="LoginForm.Email.$dirty && (LoginForm.Email.$error.required || LoginForm.Email.$error.minlength || LoginForm.Email.$error.email)">Incorrect email
      </span>
    </p>       
    <p>
      <input 
        type="password" 
        id="pass_i"
        class="form-input"
        ng-model="login.password"
        required 
        name="Password"
        placeholder="Password"
        ui-keypress="{13:'onKeyPress($event)'}"
        ng-trim="false" /> 
      <br />
      <span 
      	class="errorss rss" 
      	ng-show="LoginForm.Password.$dirty && (LoginForm.Password.$error.required || LoginForm.Password.$error.minlength)">Incorrect password
      </span>
    </p>
    <div class="step">
      <p class="errors" ng-show="error">{{error}}</p>
      <p class="singin-sub">
        <input 
          ng-disabled="LoginForm.$invalid"
          ng-click="onSingin()" 
          type="button" 
          value="Sign in" />
      </p>    
    </div>
  </ng-form>
</div>