<div id="leagues" class="full_height" ng-if="show" >
	<div class="center">
		<ul class="league_list">
			<li ng-class="{ current: value.current }" ng-repeat="(key, value) in leagues | orderBy: 'position': true" ng-click="selectLeague(value.sguid)">
				<img ng-src="{{value.icon}}" alt="" />
				<p>{{value.name}}</p>
			</li>
		</ul>
		<div class="user_list">
			<div class="user_list_sub" scroller>
				<a class="gni" ng-click="iphoneEvent()"></a>
				<ul class="person_list">
					<li 
						ng-class="{ current: value.current }" 
						ng-repeat="(key, value) in leagueUsers" 
						ng-click="clickSelectUser(value)">
						<div class="avatar">
							<img err-src="/images/unknown-person.png" ng-src="{{value.avatar}}" alt="" />
						</div>
						<div class="text">
							<!--<p>{{key+1}}.</p> -->
							<p>{{value.name}}</p>
							<span>{{value.points | int | unidate}}</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div 
			class="full_height user sha league_user persona" 
			scroll-user
			ng-controller="UserController" 
			ng-include
			ng-init="init('league_user')"
			src="'partials/user.html'"
			ng-if="showUser">
		</div>
	</div>
</div>