<div id="leagues" class="full_height" ng-if="show" >
	<div class="center">
		<ul class="league_list">
			<li ng-class="{ current: value.current }" ng-repeat="(key, value) in leagues | orderBy: 'position': true" ng-click="selectLeague(value.sguid)">
				<img ng-src="{{value.icon}}" alt="" />
				<p>{{value.name}}</p>
			</li>
		</ul>
		<perfect-scrollbar class="user_list" scroller ng-scroll-event="updateOnScrollEvents($event, isEndEvent)">
			<ul class="person_list">
				<li 
					ng-class="{ current: value.current }" 
					ng-repeat="(key, value) in leagueUsers" 
					ng-click="selectUser(value)">
					<div class="avatar">
						<img err-src="/images/unknown-person.png" ng-src="{{value.avatar}}" alt="" />
					</div>
					<div class="text">
						<p>{{key+1}}.</p>
						<p>{{value.name}}</p>
						<span>{{value.points | int | unidate}}</span>
					</div>
				</li>
			</ul>
		</perfect-scrollbar>
		<div 
			class="full_height user sha league_user persona" 
			ng-controller="UserController" 
			ng-include
			ng-init="init('league_user')"
			src="'partials/user.html'">
		</div>
	</div>
</div>