<div class="full_height" ng-if="showProfile" id="myprofile">
	<div class="center">
		<!-- навигация -->
		<div class="mynav">
			<ul>
				<li ng-repeat="(navKey, navValue) in navItems">
					<a ng-click="changeState(navValue)">
						<span><img ng-src="{{goalItem.icon}}" alt="" title="{{goalItem.name}}" /></span>
						{{navValue.name}}
					</a>
				</li>
			</ul>
			<h2>{{currentNav.name}}</h2>
			<em></em>
		</div>

		<p id="setting_info">
			{{workspace.user.league.name}} league   Score: {{workspace.user.points}}
		</p>

		<div ng-if="currentNav.name == indexes.PROFILE && workspace.user" class="tab">
			<section 
				class="tab" 
				ng-controller="MyProfileProfileController" 
				ng-include 
				src="'partials/profile.html'" >
			</section>
		</div>
		<div ng-show="currentNav.name == indexes.DASHBOARD && workspace.user" class="tab">
			<!--<section class="tab" ng-controller="MyProfileProfileController" ng-include src="'partials/mydash.html'" ></section> -->
		</div>
		<div ng-if="currentNav.name == indexes.SETTINGS && workspace.user" class="tab">
			<section 
				class="tab" 
				ng-controller="MyProfileSettingsController" 
				ng-include 
				src="'partials/mysettings.html'" >
			</section>
		</div>
	</div>
</div>