<div class="full_height" ng-if="showProfile" id="myprofile">
	<div class="center">
		<div id="profile_header">
			<!-- навигация -->
			<div class="mynav">
				<ul>
					<li ng-repeat="(navKey, navValue) in navItems"
						ng-class="{current: navValue.current}">
						<a ng-click="changeState(navKey)">
							<span class="icon {{navValue.name}}"></span>
							{{navValue.name}}
						</a>
					</li>
				</ul>
				<span class="close" ng-click="close()"></span>
			</div>

			<p id="setting_info">
				<img ng-src="{{workspace.user.league.icon}}" alt="" /> 
				<span ng-if="workspace.user.league.name">
					{{workspace.user.league.name}} league &nbsp &nbsp &nbsp
				</span> 
				Overall score: 
				<span ng-if="workspace.user.points">
					{{workspace.user.points}}
				</span>
				<span ng-if="!workspace.user.points">
					0
				</span>
			</p>
		</div>
		
		<div class="tabs full_height">
			<div ng-show="currentNav.name == indexes.PROFILE && workspace.user" class="tab">
				<section 
					class="tab" 
					ng-include 
					src="'partials/profile.html'" >
				</section>
			</div>
			<div ng-show="currentNav.name == indexes.DASHBOARD && workspace.user" class="tab">
				<section 
					class="tab" 
					ng-include 
					src="'partials/mydash.html'" >
				</section> 
			</div>
			<div ng-show="currentNav.name == indexes.SETTINGS && workspace.user" class="tab">
				<section 
					class="tab" 
					ng-controller="MyProfileSettingsController" 
					ng-include 
					src="'partials/mysettings.html'" >
				</section>
			</div>	
		</div>
	</div>
</div>