<div ng-controller="CropImageController" ng-include src="'partials/crop-image.html'"></div>

<section class="myset">
	<div 
		class="pmain pro promy" >
		<div class="block">
			<input 
				class="hidden" 
				id="photo_crop" 
				onchange="angular.element(this).scope().onReadFile()" 
				capture="camera" 
				type="file" 
				accept="image/*" />
			
			<div class="image_box" crop-click ng-click="onUpdateFile()">
				<img 
					class="pp" 
					ng-src="{{workspace.user.avatar}}" 
					err-src="/images/unknown-person.png" />
			</div>
			
			<div class="publish" ng-if="workspace.user.published == 0">
				<p>
					<strong>Your account is private.<b>Only you can see your profile.</b></strong>
					<button ng-click="onOnPublish()">{{'_PublishL_' | i18n}}</button>
				</p>
			</div>
			<div class="publish" ng-if="workspace.user.published == 1">
				<p>
					<strong>Your account is public.<b>Everybody can see you profile.</b></strong>
					<button ng-click="onUnPublish()">Make it private</button>
				</p>
			</div>
			<div class="publish">
				<button ng-click="onLogout()">Sign out</button>
			</div>
		</div>

		<div class="pmpar">
			<p>
				<label for="i1_i">Name:</label> 
				<input 
					type="text" 
					id="i1_i" 
					ng-model="workspace.user.name"
					required
					ng-change="updateUserParamByValue('name', workspace.user.name)" />
			</p>
			<div class="popup_list" ng-if="showedNames.length > 0">
				<ul>
					<li ng-repeat="(nameKey, nameItem) in showedNames">
						<a>{{nameItem}}</a>
					</li>
				</ul>
			</div>
			<p class="errors" ng-if="nameIsError">Name already user.</p>
			<p>
				<label for="i2_i">Birthday:</label>
				<input 
					type="date"
					ng-model="workspace.user.birthday"
					id="i2_i"
					ng-change="updateBirthday()" />
			</p>
			<p>
				<label for="i3_i">Сountry:</label>
				<select 
					id="i3_i"
					ng-options="item.sguid as item.name for item in workspace.country" 
					ng-model="workspace.user.state.sguid"
					ng-change="cityByState($event)">
				</select>
			</p>
			<p>
				<label for="i4_i">City:</label>
				<input 
					id="i4_i" 
					ng-model="workspace.user.city.name"
					type="text"
					ng-change="changeCity($event)" />
					<img 
						src="/images/7.jpg" 
						class="cursor" 
						ng-click="addCity($event)" 
						width="40px" 
						alt=""
						ng-if="showCityAddButton" />
			</p>
			<div class="popup_list" ng-if="showCityList">
				<ul>
					<li ng-if="cityItem.show" ng-repeat="(cityKey, cityItem) in city">
						<a ng-click="selectCity($event, cityItem, cityKey)">{{cityItem.name}}</a>
						<span class="close icon" ng-click="deleteCityItem($event, cityItem, cityKey)"></span>
					</li>
				</ul>
			</div>
			<p>
				<label for="i5_i">Career:</label>
				<select 
					id="i5_i"
					ng-options="item.sguid as item.name for item in workspace.careers" 
					ng-model="workspace.user.profession.goal_sguid"
					ng-change="selectCareer($event, career)">
				</select>
			</p>
			<p>
				<label for="i6_i">Profession:</label>
				<input 
					id="i6_i" 
					ng-model="workspace.user.profession.name"
					type="text"
					ng-change="changeProfession($event)"  />
					<img 
						src="/images/7.jpg" 
						class="cursor" 
						ng-click="addProfession($event)" 
						width="40px" 
						alt=""
						ng-if="showProfessionAddButton" />
			</p>
			<div class="popup_list" ng-if="showProfessionList">
				<ul>
					<li ng-repeat="(profKey, profItem) in profession">
						<a ng-click="selectProfession($event, profItem, profKey)">{{profItem.name}}</a>
						<span class="close icon" ng-click="deleteItem($event, profItem, profKey)"></span>
					</li>
				</ul>
			</div>
			<p>
				<label for="i7_i">E-mail:</label> 
				<input 
					type="email" 
					id="i7_i" 
					ng-model="workspace.user.email"
					readonly="readonly"
					required />
			</p>
			<p ng-controller="QuickUserChangeCtrl">
				<label for="username_i">Username:</label>
				<span ng-if="users.length == 0">Users loading...</span>
				<select
					ng-if="users.length > 0"
					id="acc_i"
					ng-options="item.name for item in users" 
					ng-model="nextUser" 
					ng-change="onMoveUserClick($event, nextUser)">
					<option value="">{{workspace.user.name}}</option>
				</select>
			</p>
			<p ng-if="!social">
				<button class="reset" ng-click="onChangePassword()">Reset password</button>
			</p>
		</div>
	</div>
</section>