<div class="fuckenmorda">
	<h2>Report an Impostor Account</h2>
	<a ng-click="closeModal()"></a>
	<p>If someone created an i-Rate account that’s pretending to be yours, please 
	use this form to file a report.</p>
	<input place-holder="Your full name" />
	<input place-holder="Your contact email address" />
	<p>Please attach a picture of a government-issued ID of the person being impersonated (ex: your ID or the ID of the person you’re authorized to represent). Cover up any personal information (ex: address, license number) that we don’t need to confirm your identity.</p>
	<b>The ID you provide:</b>
	<ul>
		<li>Must be government-issued (ex: passport, driver’s license)</li>
		<li>Must be multicolour</li>
		<li>Must clearly show the full name, date of birth, any photo</li>
	</ul>
	<s>Note: We won’t be able to process your request unless you submit an ID that meets these requirements.</s>
	<i>Upload an ID</i>
	<i>Your ID or an ID of a person you’re authorized to represent</i>
	<button>Upload</button>
	<input place-holder="Additional info" />
	<button>Report</button>
</div>