<div id="searchfull" ng-if="show"> 
	<section class="searchfull">
		<div 
			id="search" 
			class="search fullsearch" 
			ng-controller="SearchController">
			<div ng-controller="SearchLeftController">
				<input 
					type="text" 
					ng-model="searchText" 
					placeholder="Search people" 
					class="search"
					ng-change="onSearch()" />
				<input type="button" class="searcher" ng-click="onSearch()" />

				<div ng-cloak class="searchResult" ng-if="resultSearch.length > 0">
					<div class="item" ng-repeat="(userKey, userItem) in resultSearch">
						<div class="image" ng-click="openSearchProfile(userItem.sguid)">
							<img ng-src="{{userItem.avatar}}" alt="" err-src="/images/unknown-person.png" />
						</div>
						<div class="text" ng-click="openSearchProfile(userItem.sguid)">
							<p class="name">{{userItem.name}}</p>
							<p class="league">
								<img class="league_icon" ng-src="{{userItem.league.icon}}" alt="" /> 
								{{userItem.league.name}} league
							</p>
							<p class="points">{{userItem.points | unidate}}</p>
						</div>
					</div>
				</div>

				<div ng-controller="ShortLoaderController" ng-if="loaderShow" >
					<div class="loader"></div>
				</div>
			</div>
		</div>	
	</section>
	<div 
		class="full_height user sha search_user" 
		ng-controller="UserController" 
		ng-include
		ng-init="init('search_profile')"
		src="'partials/user.html'">
	</div>
	<div class="fusepar" ng-if="showRight" scroller>
		<i ng-click="close()"></i>
		<div class="fsp">
			<div class="ri">
				<h6>Top</h6>
				<input 
					type="text" 
					ng-model="search.top.name" 
					class="search"
					ng-change="filteredList('topList', search.top.name, 'top')" />
				<input type="button" class="searcher" ng-click="toggleShowState('top')" />
				<img src="./images/fusedel.png" ng-click="selectParam('top', '', true)">
				<ul class="popup_list big" ng-if="shows.top">
					<li 
						ng-if="value.show" 
						ng-repeat="(key, value) in topList" 
						ng-click="selectTopParam('top', value)">
							<img 
								ng-src="/images/goals/{{value.needName | removewhite}}/{{value.name | removewhite}}.png"
								alt=""
								class="goal_icon"
								title="{{value.name}}" />
							{{value.name}}
					</li>
				</ul>
			</div>
			<em></em>
		</div>
		<div class="fsp">
			<div class="ri">
				<h6>Career</h6>
				<input 
					type="text" 
					ng-model="search.career.name" 
					class="search"
					ng-change="filteredList('careerList', search.career.name, 'career')" />
				<input type="button" class="searcher" ng-click="toggleShowState('career')" />
				<img src="./images/fusedel.png" ng-click="selectParam('career', '', true)">
				<ul class="popup_list" ng-if="shows.career">
					<li 
						ng-if="value.show" 
						ng-repeat="(key, value) in careerList" 
						ng-click="selectCareerParam('career', value)">{{value.name}}</li>
				</ul>
			</div>
			<div class="ri">
				<h6>Profession</h6>
				<input 
					type="text" 
					ng-model="search.profession.name" 
					class="search"
					ng-change="filteredList('professionList', search.profession.name, 'profession')" />
				<input type="button" class="searcher" ng-click="toggleShowState('profession')" />
				<img src="./images/fusedel.png" ng-click="selectParam('profession', '', true)">
				<ul class="popup_list" ng-if="shows.profession">
					<li ng-if="value.show" ng-repeat="(key, value) in professionList" ng-click="selectParam('profession', value)">{{value.name}}</li>
				</ul>
			</div>
			<em></em>
		</div>
		<div class="fsp">
			<div class="ri">
				<h6>Country</h6>
				<input 
					type="text" 
					ng-model="search.country.name" 
					class="search"
					ng-change="filteredList('countriesList', search.country.name, 'country')" />
				<input type="button" class="searcher" ng-click="toggleShowState('country')" />
				<img src="./images/fusedel.png" ng-click="selectParam('country', '', true)">
				<ul class="popup_list" ng-if="shows.country">
					<li ng-if="value.show" ng-repeat="(key, value) in countriesList" ng-click="selectContryParam('country', value)">{{value.name}}</li>
				</ul>
			</div>
			<div class="ri">
				<h6>City</h6>
				<input 
					type="text" 
					ng-model="search.city.name" 
					class="search"
					ng-change="filteredList('cityList', search.city.name, 'city')" />
				<input type="button" class="searcher" ng-click="toggleShowState('city')" />
				<img src="./images/fusedel.png" ng-click="selectParam('city', '', true)">
				<ul class="popup_list" ng-if="shows.city">
					<li ng-if="value.show" ng-repeat="(key, value) in cityList" ng-click="selectParam('city', value)">{{value.name}}</li>
				</ul>
			</div>
			<em></em>
		</div>
		<div class="fsp">
			<div class="ri">
				<h6>Birthday from</h6>
				<input type="text" ng-model="search.birthday_from" id="birthday_from" ui-date="dateOptions"  name="DateOfBirth1" id="dFrom" />
				<img src="./images/fusedel.png" ng-click="selectDateParam('birthday_from', '', true)">
			</div>
			<div class="ri">
				<h6>Birthday till</h6>
				<input type="text" ng-model="search.birthday_till" id="birthday_till" ui-date="dateOptions"  name="DateOfBirth2" id="dTill" />
				<img src="./images/fusedel.png" ng-click="selectDateParam('birthday_till', '', true)">
			</div>
			<em></em>
		</div>
		<div class="fsp">
			<div class="ri">
				<h6>League</h6>
				<input 
					type="text" 
					ng-model="search.league.name" 
					class="search" />
				<input type="button" class="searcher" ng-click="toggleShowState('league')" />
				<img src="./images/fusedel.png" ng-click="clearLeagueParam('league', '', true)">
				<ul class="popup_list" ng-if="shows.league">
					<li ng-repeat="(key, value) in workspace.leagues | orderBy:'min_border':true" ng-click="selectLeagueParam('league', value)">{{value.name}}</li>
				</ul>
				
			</div>
			<div class="ri">
				<h6>Score</h6>
				<rzslider 
					rz-slider-floor="0" 
					rz-slider-ceil="175000" 
					rz-slider-model="search.minScore" 
					rz-slider-high="search.maxScore">
				</rzslider>
			</div>
			<em></em>
		</div>
		<div class="fsp fspb">
			<button ng-click="clearAll()">Clear all</button>
		</div>
	</div>
</div>