<h4>Sign up</h4>
<b ng-click="changeState(states.SIGNIN)"></b>
<div class="sign-up">
  <ng-form name="RegForm" novalidate class="css-form myForm" >
    <p>
      <input 
        type="email" 
        id="email_i" 
        class="form-input"
        ng-model="user.email" 
        required
        ng-minlength="6"
        placeholder="Email"
        name="NewEmail"
        ui-keypress="{13:'onKeyPressReg($event)'}"  />
      <br />
      <span 
        class="errorss" 
        ng-show="RegForm.NewEmail.$dirty && (RegForm.NewEmail.$error.required || RegForm.NewEmail.$error.minlength || RegForm.NewEmail.$error.email)">Incorrect email</span>
    </p>
    <p class="errors" ng-if="errorEmail">{{errorEmail}}</p>
    <p>
      <input 
        type="email" 
        id="name_i" 
        class="form-input"
        ng-model="user.reemail" 
        required 
        ng-minlength="6"
        placeholder="Confirm email"
        disable-paste
        onpaste="return false;"
        name="NewMassEmail"
        ui-keypress="{13:'onKeyPressReg($event)'}" />
      <br />
      <span 
        class="errorss rss" 
        ng-show="RegForm.NewMassEmail.$dirty && (RegForm.NewMassEmail.$error.required || RegForm.NewMassEmail.$error.minlength || RegForm.NewEmail.$error.email)">Incorrect mismatch</span> 
    </p>
    <p>
      <input 
        type="password" 
        id="name_i" 
        class="form-input"
        ng-model="user.password" 
        required 
        ng-minlength="6"
        placeholder="Password"
        name="NewPassword"
        ui-keypress="{13:'onKeyPressReg($event)'}" /> 
      <br />
      <span 
        class="errorss rrss" 
        ng-show="RegForm.NewPassword.$dirty && (RegForm.NewPassword.$error.required || RegForm.NewPassword.$error.minlength)">Incorrect password</span>
    </p>
    <div
      vc-recaptcha
      theme="blackglass"
      lang="en"
      ng-model="captha"
      key="6Lf1Z-oSAAAAAEkk7m5n6cGiwgqeMya21UetPbIO">
    </div>

    <p class="errors" ng-if="errorValidate"><br />{{errorValidate}}</p><br />

    <p class="acknowledge">
      <input type="checkbox"  required="required" ng-model="acknowledge" class="icheckbox_minimal" />
      <label>I acknowledge I have read and accept the<a href="/views/terms.html" class="notdark">Terms of use Agreement</a> and consent to the <a href="/views/terms.html" class="notdark">Privacy Policy</a>.</label>
    </p>

    <p class="signup-submit">
      <input 
        type="button" 
        value="Sign up"
        ng-disabled="RegForm.$invalid"
        ng-click="addUser()" />
    </p>
  </ng-form>
</div>