<div ng-if="user" class="sam" ng-class="{big: big}">
	<!-- Поиск -->
	<div id="search" class="search" ng-if="compare">
		<div ng-controller="SearchController">
			<input 
				type="text" 
				ng-model="searchText" 
				placeholder="Search people" 
				class="search"
				ng-change="onSearch()"
				ui-keypress="{13:'onSearch()'}" />
			<input type="button" class="searcher" ng-click="onSearch()" />
			<div ng-cloak class="searchResult" ng-if="resultSearch.length > 0">
				<div class="item" ng-repeat="(userKey, userItem) in resultSearch" ng-click="changeUser(userItem)">
					<div class="image">
						<img ng-src="{{userItem.avatar}}" alt="">
						<i ng-if="userItem.points">{{userItem.points}}</i>
					</div>
					<div class="text">
						<p class="name">{{userItem.name}}</p>
						<p class="birthday">{{userItem.birthday}}</p>
						<p class="birthday">{{userItem.state.name}}</p>
						<p class="profession">{{userItem.profession.name}}</p>
						<p class="league">{{userItem.league.name}} league</p>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="pmain pro" >
		<div class="block" ng-if="user">
			<div class="image_box" ng-class="{updated: user.sguid == authUserId && isEdit, big: user.hover}" 
				ng-click="onUserClick(user, $event)" >
				<img class="pp" ng-src="{{user.avatar}}" err-src="/images/unknown-person.png" />
				<a ng-click="onUpdateFile()" title="">Update image</a>
				<span></span>	
				<s ng-if="user.artificial">profile is created by experts based on available public info</s>	
				<div class="sub">
					<b>{{user.name}} <br /><s>{{user.league.name}} league</s></b>
					<ul>
						<li>
							<a ng-click="onMoveToProfile(user)">
								<span class="icon profile navigate"></span>
							</a>
						</li>
						<li>
							<a ng-if="user && !user.isFollow" ng-click="onFollow()">
								<span class="icon follow navigate"></span>
							</a>
							<a ng-if="user && user.isFollow" ng-click="onUnFollow()">
								<span class="icon unfollow navigate"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="pmpar" ng-if="user">
			<p>
				<i>{{user.name}}</i>
			</p>
			<p>
				<i>{{user.birthday}}</i>
			</p>
			<p>
				<i>
					<span ng-if="user.state.name">{{user.state.name}}</span>
					<span ng-if="user.city.name">
						<span ng-if="user.state.name">,</span> 
						{{user.city.name}}
					</span>
				</i>
			<p>
				<i>{{user.profession.name}}<span ng-if="user.goal_name">, {{user.goal_name}}</span></i>
			</p>

			<p>
				<i>{{user.league.name}}</i>
			</p>															
			<p>
				<i>{{user.points}}</i>
			</p>
		</div>

		<!-- статситика -->
		<b class="statis stf">123</b>
		<b class="statis stv">4567 views</b>

		<a class="il" ng-if="user && !isFriend && !compare" ng-click="onFollow()"><img src="../images/i3.png"></a>
		<a class="il" ng-if="user && isFriend && !compare" ng-click="onUnFollow()"><img src="../images/i3i.png"></a>

		<!-- report button -->
		<a class="il rep" ng-click="openReport()" >
			<img src="../images/rep.png">
		</a> 

		<!-- кнопочка закрытия -->
		<a class="il" ng-click="close()">
			<img src="../images/cl.png">
		</a> 
	</div>

	<!-- переключатель колбасы/комментарии -->
	<div class="mynav notmynav">
		<ul>
			<li ng-click="onChangeTab(1)" ng-class="{current: tab == 1}">
				<a>Profile</a>
			</li>
			<li ng-click="onChangeTab(2)" ng-class="{current: tab == 2}">
				<a>Comments</a>
			</li>
		</ul>
	</div>

	<perfect-scrollbar
		class="tab tabss current_{{tab}}"
		scroller
		scrolls
		scrolls-class="tabss">
		<div 
		ng-controller="UserCommentsController" 
		ng-show="tab == 2" 
		class="comments">
			<perfect-scrollbar class="comm" scroller-step="360">
				<div class="cmnt" ng-repeat="comment in commentsList | orderBy:'post_date'"  >
					<strong>{{comment.user.name}}</strong>
					<i>{{comment.post_date}}</i>
					<br />
					<p>{{comment.message}}</p>
					<em></em>
				</div>
			</perfect-scrollbar>
			<div class="butcomm" ng-if="workspace.user">
				<em></em>
				<ng-form name="CommentForm">
					<textarea ng-change="changeText()" ng-model="form.message" msd-elastic id="comment_message" name="comment" placeholder="Enter your comment here"></textarea>
					<button ng-class="{disable: disable}" class="button " ng-click="onSendMessage()">Send</button>
				</ng-form>
			</div>
		</div>

		<div 
			class="crits" 
			ng-controller="NeedsAndGoalsController" 
			ng-show="tab == 1">
			<ul ng-controller="UserNeedsController"> 
				<li 
					class="{{needItem.name}}" 
					ng-repeat="(needKey, needItem) in needs | orderBy:'position'" 
					data-needId="{{needItem.sguid}}">
					<div class="cr" ng-click="onShowGoals($event, needItem)">
						<p>{{needItem.name}}</p>
						<div class="right">
							<b>{{needItem.current_value | notnull}} / {{needItem.points_summary}}</b>
							<strong>
								<span 
									class="current_position"
									position-need>
								</span>
							</strong>	
						</div>
						<sup class="compare" route="{{route}}" comparator values="{{needsValues[needItem.sguid]}}"></sup>
					</div>
					<ul ng-class="{hidden: needItem.hidden}">
						<li ng-repeat="(goalKey,goalItem) in needItem.goals | orderBy:'position'" 
							data-goalid="{{goalItem.sguid}}" 
							user-id="{{user.sguid}}" >
							<h5 ng-click="showCriterias($event, needItem, goalItem, needs)">
								<a 
									ng-class="{current: goalItem.current}"
									data-goalid="{{goalItem.sguid}}" 
									user-id="{{user.sguid}}">
									<span>
										<img 
											ng-src="/images/goals/{{needItem.name | removewhite}}/{{goalItem.name | removewhite}}.png"
											alt="" 
											title="{{goalItem.name}}" />
									</span>
									<h6>{{goalItem.name}}</h6>
									<s></s>
								</a>	
								<div class="right">
									<strong>
										<span position-goal class="current_position" ></span>
									</strong>
								</div>
								<i ng-if="!goalItem.current"><em></em></i>
								<sup 
									class="compare goal" 
									route="{{route}}" 
									comparator 
									values="{{goalsValues[goalItem.sguid]}}" >
								</sup>
							</h5>
							<ul class="criterion" ng-class="{current: goalItem.current}">
								<li 
									data-id="{{crItem.sguid}}"
									ng-repeat="crItem in goalItem.criteriums | orderBy:'position'" >
									<p>{{crItem.name}}</p>
									<div class="bord">
										<ul class="crp">
											<div class="tab">
												<li data-id="{{value.sguid}}"  
													ng-repeat="value in crItem.criteria_values | orderBy:'position'"  
													class="{{value.user_criteria}} position_{{value.position}}" >
													<i ng-if="value.sguid != 'none'">{{value.name}}</i>
													<i ng-if="value.sguid == 'none'" class="null_criteria"></i>
												</li>
											</div>
											<span>
												<sup></sup>
											</span>
										</ul>
									</div>
									<sup 
										class="compare criterium" 
										route="{{route}}" 
										comparator 
										values="{{criteriumsValues[crItem.sguid]}}">
									</sup>
								</li>
							</ul>
						</li>
						
					</ul>
				</li>
			</ul>
		</perfect-scrollbar>
	</div>
</div>