<div id="users" class="full_height" ng-if="show"  >
	<div class="center2">
		<div class="center3">
			<div 
				ng-controller="UserShortController" 
				ng-include
				ng-init="init('user1')"
				src="'partials/user/short.html'">
			</div>

			<div
				class="last" 
				ng-controller="UserShortController" 
				ng-include
				ng-init="init('user2')"
				src="'partials/user/short.html'">
			</div>
		</div>
	</div>
	<div class="center" ng-class="{one: one}">
		<div class="center4" scroller scroll-users>
			<div
				class="full_height user sha" 
				ng-controller="UserController" 
				ng-include
				ng-init="init('user1')"
				src="'partials/user.html'">
			</div>
			<div
				class="full_height user last_user" 
				ng-controller="UserController" 
				ng-include
				ng-init="init('user2')"
				src="'partials/user.html'">
			</div>	
		</div>
		
	</div>
</div>