<div ng-if="user" class="sam" ng-class="{big: big}">
	<div class="pmain pro" >
		<div class="block">
			<div class="image_box" >
				<img class="pp" ng-src="{{user.avatar}}" err-src="/images/unknown-person.png" />
				<s ng-if="user.artificial">profile is created by experts based on available public info</s>
			</div>
		</div>
		<div class="pmpar" ng-if="user">
			<p>
				<i>{{user.name}}</i>
			</p>
			<p>
				<i>{{user.birthday}}</i>
			</p>
			<p>
				<i>
					<span ng-if="user.state.name">{{user.state.name}}</span>
					<span ng-if="user.city.name">
						<span ng-if="user.state.name">,</span> 
						{{user.city.name}}
					</span>
				</i>
			<p>
				<i>{{user.profession.name}}<span ng-if="user.goal_name">, {{user.goal_name}}</span></i>
			</p>

			<p>
				<i> <img ng-src="{{user.league.icon}}" alt="" /> {{user.league.name}} league</i>
			</p>															
			<p>
				<i>Score: {{user.points | unidate}}</i>
			</p>
		</div>

		<!-- статситика -->
		<b class="statis stf">{{user.likes}}</b>
		<b class="statis stv">{{user.views}} views</b>

		<a class="il" ng-if="user && !isFriend && !compare" ng-click="onFollow()">
			<img src="../images/i3.png" alt="" />
		</a>
		<a class="il" ng-if="user && isFriend && !compare" ng-click="onUnFollow()">
			<img src="../images/i3i.png" alt="" />
		</a>

		<!-- кнопочка закрытия -->
		<a class="il" ng-click="close()">
			<img src="../images/cl.png">
		</a> 
	</div>

	<!-- переключатель колбасы/комментарии -->
	<div class="mynav notmynav">
		<ul>
			<li ng-click="onChangeTab(1)" ng-class="{current: tab == 1}">
				<a>Profile</a>
			</li>
			<li ng-click="onChangeTab(2)" ng-class="{current: tab == 2}">
				<a>Comments</a>
			</li>
		</ul>
	</div>

	<perfect-scrollbar
		class="tab tabss current_{{tab}}"
		scroller
		scrolls
		scrolls-class="tabss"
		id="tab_{{route}}">
		<div 
		ng-controller="UserCommentsController" 
		ng-show="tab == 2" 
		class="comments">
			<perfect-scrollbar class="comm" scroller-step="360" comment-scroll>
				<div class="cmnt" ng-repeat="comment in commentsList | orderBy:'post_date'"  >
					<strong>{{comment.user.name}}</strong>
					<i>{{comment.post_date}}</i>
					<br />
					<p>{{comment.message}}</p>
					<em></em>
				</div>
			</perfect-scrollbar>
			<div class="butcomm">
				<em></em>
				<ng-form name="CommentForm">
					<textarea ng-change="changeText()" ng-model="form.message" msd-elastic id="comment_message" name="comment" placeholder="Enter your comment here"></textarea>
					<button ng-class="{disable: disable || !workspace.user}" class="button " ng-click="onSendMessage()">Send</button>
				</ng-form>
				<!-- report button -->
				<a class="il rep" ng-click="openReport()" >
					<img src="../images/rep.png">
				</a>
			</div>
		</div>

		<div 
			class="crits" 
			ng-controller="NeedsAndGoalsController" 
			ng-show="tab == 1">
			<ul ng-controller="UserNeedsController"> 
				<li 
					class="{{needItem.name}}" 
					ng-repeat="(needKey, needItem) in needs | orderBy:'position'" 
					data-needId="{{needItem.sguid}}">
					<div class="cr" ng-click="onShowGoals($event, needItem)">
						<p>{{needItem.name}}</p>
						<div class="right">
							<b>{{needItem.current_value | notnull}} / {{needItem.points_summary}}</b>
							<strong>
								<span 
									class="current_position"
									position-need>
								</span>
							</strong>	
						</div>
						<sup class="compare" route="{{route}}" comparator values="{{needsValues[needItem.sguid]}}"></sup>
					</div>
					<ul ng-class="{hidden: needItem.hidden}">
						<li ng-repeat="(goalKey,goalItem) in needItem.goals | orderBy:'position'" 
							data-goalid="{{goalItem.sguid}}" 
							user-id="{{user.sguid}}" >
							<h5 ng-click="showCriterias($event, needItem, goalItem, needs)">
								<a 
									ng-class="{current: goalItem.current}"
									data-goalid="{{goalItem.sguid}}" 
									user-id="{{user.sguid}}">
									<span>
										<img 
											ng-src="/images/goals/{{needItem.name | removewhite}}/{{goalItem.name | removewhite}}.png"
											alt="" 
											title="{{goalItem.name}}" />
									</span>
									<h6>{{goalItem.name}}</h6>
									<s></s>
								</a>	
								<div class="right">
									<strong>
										<span position-goal class="current_position" ></span>
									</strong>
								</div>
								<i ng-if="!goalItem.current"><em></em></i>
								<sup 
									class="compare goal" 
									route="{{route}}" 
									comparator 
									values="{{goalsValues[goalItem.sguid]}}" >
								</sup>
							</h5>
							<ul class="criterion" ng-class="{current: goalItem.current}">
								<li 
									data-id="{{crItem.sguid}}"
									ng-repeat="crItem in goalItem.criteriums | orderBy:'position'"
									ng-show="goalItem.criteriums.all_load" >
									<p>{{crItem.name}}</p>
									<div class="bord">
										<ul class="crp">
											<div class="tab">
												<li data-id="{{value.sguid}}"  
													ng-repeat="value in crItem.criteria_values | orderBy:'position'"  
													class="{{value.user_criteria}} position_{{value.position}}" >
													<i ng-if="value.sguid != 'none'">{{value.name}}</i>
													<i ng-if="value.sguid == 'none'" class="null_criteria"></i>
												</li>
											</div>
											<span colbasa colbasa-current="{{crItem.user_criteria_sguid}}">
												<sup></sup>
											</span>
										</ul>
									</div>
									<sup 
										class="compare criterium" 
										route="{{route}}" 
										comparator 
										values="{{criteriumsValues[crItem.sguid]}}">
									</sup>
								</li>
							</ul>
						</li>
						
					</ul>
				</li>
			</ul>
		</perfect-scrollbar>
	</div>
</div>