	<div id="users" class="full_height" ng-if="show" ng-class="{show_crits: showCrits}" >
	<div class="center2" ng-class="{one: one}">
		<div class="center3">
			<div 
				ng-controller="UserShortController" 
				ng-include
				class="user_short"
				ng-init="init('user1')"
				ng-class="{two_user: !one}"
				src="!phone ? 'partials/user/short.html' : 'partials/user/short_phone.html'" >
			</div>

			<div
				class="last user_short" 
				ng-controller="UserShortController" 
				ng-include
				class=""
				ng-init="init('user2')"
				ng-class="{two_user: !one}"
				src="!phone ? 'partials/user/short.html' : 'partials/user/short_phone.html'">
			</div>
		</div>
	</div>
	<div class="center" ng-class="{one: one}">
		<div class="center4" scroller ng-class="{two_user_needs: !one}">
			<div
				class="full_height user sha" 
				ng-controller="UserController" 
				ng-include
				ng-init="init('user1')"
				src="'partials/user_compare.html'">
			</div>
			<div
				class="full_height user last_user" 
				ng-controller="UserController" 
				ng-include
				ng-init="init('user2')"
				src="'partials/user_compare.html'">
			</div>	
		</div>
		
	</div>
</div>