<!doctype html>
<html ng-app="pgrModule">
	<head>
		<title>iRate</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes"/>

		<link rel="stylesheet" href="/build/style.min.css" />
	</head>
	<body ng-controller="RootController" >
		<div ng-include src="'partials/header.html'"></div>

		<!-- Контент -->
	    <div id="content" class="my-slide-container">
	        <div class="content_wrap" ng-view></div>

	        <div class="full_height" ng-controller="ChangePasswordController" ng-include src="'partials/changePassword.html'"></div>
	        <div class="full_height" ng-controller="UsersController" ng-include src="'partials/users.html'"></div>
	        <div class="full_height" ng-controller="SearchAdvanceController" ng-include src="'partials/search.html'"></div>
	        <div class="full_height" ng-controller="MyProfileController" ng-include ng-if="workspace.user" src="'partials/myprofile.html'"></div>
	        <div class="full_height" ng-controller="LeaguesController" ng-include src="'partials/leagues.html'"></div>
	        <div class="full_height" ng-controller="RightController" ng-include ng-if="!workspace.user" src="'partials/right.html'"></div>
	        <div class="full_height" ng-controller="BannerController" ng-include src="'partials/banner.html'"></div>
	    </div>

	    <div ng-include src="'partials/footer.html'"></div>

	    <script src="//js.live.net/v5.0/wl.js"></script>
	    <script src="/js/preloadjs-0.4.1.min.js"></script>
    	<script src="/js/recaptcha_ajax.js"></script>
		<script src="/js/kinetic-v5.0.1.min.js"></script>
		
		<script src="/build/scripts.min.js"></script>
	</body>
</html>