<div ng-show="tab == 2" ng-controller="ReportConfirmConroller">
	<div id="reps">
		<div class="dcdrep">
			<textarea ng-model="form.message" id="comment_msg" name="comment" placeholder="Enter your comment here"></textarea>
			<button ng-click="onConfirm()">Confirm</button>
			<button ng-click="onReject()">Reject</button>
		</div>
		<table class="moder hstr">
			<tr>
				<td class="quest"></td>
				<td>
					<p>date<s></s>comment</p>
				</td>
			</tr>
			<tr>
				<td class="denied"></td>
				<td>
					<p>date<s></s>comment</p>
				</td>
			</tr>
		</table>
	</div>
</div>