<div 
	ng-controller="UserCommentsController" 
	ng-show="tab == 2" 
	class="comments">
	<perfect-scrollbar class="comm" scroller-step="360" comment-scroll>
		<div class="cmnt" ng-repeat="comment in commentsList | orderBy:'post_date':true"  >
			<strong>{{comment.user.name}}</strong>
			<i>{{comment.post_date}}</i>
			<br />
			<p>{{comment.message}}</p>
			<em></em>
		</div>
	</perfect-scrollbar>
	<div class="butcomm">
		<em></em>
		<ng-form name="CommentForm">
			<textarea ng-change="changeText()" ng-model="form.message" msd-elastic id="comment_message" name="comment" placeholder="Enter your comment here" maxlength="500"></textarea>
			<button ng-class="{disable: disable || !workspace.user}" class="button " ng-click="onSendMessage()">Send</button>
		</ng-form>
		<!-- report button -->
		<button class="button repcha" ng-click="changeReport()"></button>
		<button class="button rep" ng-if="isReport" ng-click="openReport()">Report</button>
	</div>
</div>