<div class="user_short" ng-class="{show: show && user}">
	<div class="pmain pro" >
		<div class="image_box" >
			<img class="pp" ng-if="user.avatar" ng-src="{{user.avatar}}" err-src="/images/unknown-person.png" />
			<img class="pp" ng-if="!user.avatar" src="/images/unknown-person.png" />
		</div>
		<span ng-if="user.points">{{user.points}}</span>
		<span ng-if="user.league">{{user.league.name}}</span>
		<i ng-if="user.name">{{user.name}}</i>
		<!-- кнопочка закрытия -->
		<a class="il" ng-click="close()">
			<img src="../images/cl.png">
		</a> 
	</div>	
</div>
