<div id="approve_container">
	<table class="moder">
		<thead>
			<tr>
				<th></th>
				<th>Rate</th>
				<th>Photo</th>
				<th>Name</th>
				<th>Birthday</th>
				<th>Location</th>
				<th>Career</th>
				<th>E-mail</th>
				<th>Comments</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, value) in approves">
				<td 
					ng-click="openAprove(value)"
					ng-class="{accept: value.allowed_for_publish == 1, denied: value.allowed_for_publish == 3, quest: value.allowed_for_publish == 0}">
				</td>
				<td>{{value.points}} <br /> {{value.league.name}} league</td>
				<td><img ng-src="{{value.avatar}}" alt="" err-src="/images/unknown-person.png"></td>
				<td><p>{{value.name}}</p></td>
				<td><p>{{value.birthday}} <br /> {{value.1}}</p></td>
				<td><p>{{value.state.name}}<br /> {{value.city.name}}</p></td>
				<td><p>{{value.career.name}} <br /> {{value.profession.name}}</p></td>
				<td><p>{{value.email}}</p></td>
				<td>{{value.1}}</td>
			</tr>
		</tbody>
	</table>
</div>