<div id="graph_container">
	<table id="graphs">
		<tbody>
			<tr ng-repeat="(lKey,lItem) in workspace.leagues | orderBy:'position':true" >
				<th>
					{{lItem.max_border}}
				</th>
				<td 
					ng-repeat="(uKey, uItem) in lItem.users" >
					<a 
						ng-if="uItem.name" 
						ng-click="openUser(uItem)"
						position-graph 
						points="{{uItem.points}}" 
						max="{{lItem.max_border}}">
						<img ng-if="uItem.avatar" ng-src="{{uItem.avatar}}" />
						<img ng-if="!uItem.avatar" src="./images/unknown-person.png" />	
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<ul id="loosers">
		<li ng-repeat="(uKey,uItem) in looserUser">
			<a ng-if="uItem" ng-click="openUser(uItem)">
				<img ng-if="uItem.avatar" ng-src="{{uItem.avatar}}" />
				<img ng-if="!uItem.avatar" src="./images/unknown-person.png" />	
			</a>
		</li>
	</ul>
</div>