<div id="reports_container">
	<table>
		<thead>
			<tr>
				<th> </th>
				<th>Rate</th>
				<th>Photo</th>
				<th>Name / E-mail</th>
				<th>Photo / Name / E-mail (Report)</th>
				<th>Comment</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, value) in reports">
				<td>{{value.1}}</td>
				<td>{{value.1}} <br /> {{value.1}}</td>
				<td>{{value.avatar}}</td>
				<td>{{value.full_name}} <br /> {{value.email}}</td>
				<td style="background: rgba(130, 50, 50, 0.5)">{{value.1}} <br /> {{value.1}} <br /> {{value.1}}</td>
				<td>{{value.1}}</td>
			</tr>
		</tbody>
	</table>
</div>