@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

body {
	background: #444444;
	font-family: 'Lato', sans-serif; 
	overflow: auto !important;
	header {
	   height: 60px;
	   width: 100%;
	   background: url("../../images/hbg.png") left top repeat-x;
	   top: 0px;
	   z-index: 1020;
	   position: absolute;
	   left: 0px;
	   box-shadow: 0px 0px 30px 0px #000000;
	   #header {
	      width: 1020px;
	      height: 60px;
	      margin: 0px auto;
	      position: relative;
	      .logo { 
	         width: 140px;
	         height: 60px;
	         margin-left: 10px;
	         position: relative;
	         display: inline-block;
	         float: left;
      		background: url("../../images/logobg.png") left top no-repeat;
      		background-size: 95% !important;
	   	}
	   	ul {
				display: inline-block;
				bottom: 0px;
				position: absolute;
				left: 200px;
		      li {
		         display: inline-block;
		         cursor: pointer;
		         width: 120px;
		         height: 25px;
		         text-align: center;
		         vertical-align: bottom;
		         padding-top: 7px;
					background: #333333;
					box-shadow: inset 0px 5px 20px 1px rgba(0, 0, 0, 0.7);
					margin: 0px;
					border: 1px solid #333333;
					&.current {
						background: #454545;
						box-shadow: inset 0px 5px 25px 1px rgba(0, 0, 0, 0.7);
						padding-top: 12px;
						height: 30px;
						border: none;
					}
		      	a {
		      		color: #ffffff;
			         font-size: 15px;
			         text-decoration: none;
			         display: block;
			         height: 30px;   	
		      	}		         
		      }
	   	}
	   }
	}

	#content {
		width: 1000px;
		margin: 0px auto;
		background: none !important;
		overflow: visible !important;
		&.graphs {
			width: 100% !important;
		}
		.content_wrap {
			padding-top: 60px;

			/** NSI **/
			#nsi_content {
			   width: 980px;
			   padding: 10px;
			   background: transparent;
			   td {
			   	text-align: center;
					input {
						background: inherit;
						color: #ffffff;
						border: 1px solid #555;
						padding: 5px 0px 5px 5px !important;   	
						&.uploadfile {
							width: 110px;
							vertical-align: middle;
							border: none;
						}	
					}		
			   }
				.buttons {
               width: 150px;
               height: 30px;
               font-size: 16px;
               font-family: 'Lato', sans-serif;
               line-height: 16px;
               padding: 10px 5px;
               vertical-align: middle;
               display: inline-block;
               cursor: pointer;
               background: url("../images/ssbg.png") left top no-repeat;
               background-size: 160px 40px;
               margin: 15px 10px 0px 10px;
               color: #ffffff;
               border: none;
               text-decoration: none;
               text-align: center;
				}
			}

			/** GRAPHS **/
			#graph_container {
			   height: 100%;
			   width: 100%;
			   overflow: scroll;
			   padding-top: 10px;
				table#graphs {
					height: 100%;
					border: none;
					tr {
						td, th {
						   vertical-align: top;
						   text-align: center;
						   border: none;
						   border-top: 1px solid #777777;
						   height: 200px;
						   color: #ffffff;
						   img {
						      width: 70px;
						      position: relative;
						   }
						   a {
						      display: block;
						      position: relative;
						   }
						}
						th {
						   border-top: none;
						   border-right: 1px solid #777777;
						   line-height: 50% !important;
						   width: 10%;
						}
						&:last-child th {
						   border-right: none;
						}
						&:first-child td, &:first-child th {
						   border-top: none;
						}
						&:last-child td {
						   border-top: none;
						}
					}
				}
				#loosers li {
				   display:inline-block;
				   width: 50px;
				   img {
				      width: 50px;
				   }
				}
			}

			/** REPORTS **/
			#reports_container {
				width: 980px;
			   padding: 10px;
			   background: transparent;
			}

			/** APPROVE **/
			#approve_container {
				width: 980px;
			   padding: 10px;
			   background: transparent;
			}


		   table {			   	
		   	border: 1px solid #777777;
		   	width: 100%;
			   thead {
			   	background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.5)));
					background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
					background: -o-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
					background: -ms-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
					background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
					tr {
						th {
							color: #ffffff;
							padding: 5px 0px 7px 0px;
							border-left: 1px solid #777777;
							&:first-child {
								border: none;
							}
						}
					}
			   }
				tbody {			
		   		tr {
		   			&.current {
		   				background: rgba(0, 0, 0, 0.3);
		   			}
		   			td {			
		   				border: 1px solid #777777;	
		   				color: #ffffff;
		   				vertical-align: middle;
							.delete {
								background: url("../images/delete.png") left top no-repeat;
								width: 30px;
								height: 30px;
								background-size: 100% 100%;
								-webkit-filter: invert(100%);
								display: block;
								margin: 0px auto;
							}	
							img {
								vertical-align: middle;
							}	
		   			}
		   		}
				}	
			   &.moder {		   
				   tr {
				   	height: 70px;
				   	&:first-child {
				   		height: 30px;
				   	}
					   .accept {
					   	background: none;
					   	width: 70px;
					   	min-height: 50px;
					   }
					   .denied {
					   	background: url("../images/ban.png") 10px 10px no-repeat;
					   	background-size: 50px 50px;
					   	width: 70px;
					   	min-height: 50px;
					   } 
					   .quest {
					   	background: url("../images/que.png") 20px 10px no-repeat;
					   	background-size: 30px 50px;
					   	width: 70px;
					   	min-height: 50px;
					   	cursor: pointer;
					   }
					   td {
					   	img {
					   		width: 70px;
					   		height: 70px;
					   		display: inline-block;
					         vertical-align: middle;
					   	}
					   	p {
					   		color: #ffffff;
					         font-size: 14px;
					         display: inline-block;
					         vertical-align: middle;
					         margin-left: 10px;
					   	}
					   	s {
					   		display: block;
					   		margin: 10px 0px;
					   	}
					   }
				   }
			   }
		   }
		}		
	}

	#content .pmain.pro .pmpar {
		width: 200px !important;
	}
}
